<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Subject</title>
    <link rel="stylesheet" , href="/static/adminstyle.css" />
  </head>
  <body
    style="
      background-image: url('');
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: 100%;
    "
  >
    <div class="welcome" style="padding-top: 20px">
      <h1>Add Subject</h1>
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
      "
    >
      <div
        class="fieldbox"
        style="
          text-align: center;
          width: 30%;
          padding-top: 20px;
          padding-bottom: 20px;
        "
      >
        <form method="post">
          <label>Name: </label>
          <input name="subname" required />
          <br />
          <br />
          <label> Description: </label>
          <input name="desc" required />
          <br />
          <br />
          <button class="buttoncurve">Submit</button>
        </form>
        {% if again %}
        <p style="color: red">subject already exists</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
