<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="/static/adminstyle.css" />
  </head>
  <body>
    {% if found %} {% if found == "subject" %}
    <div class="welcome">
      <h1>Found Subject</h1>
      <p>Name:{{name}}</p>
      <p>Description:{{desc}}</p>
    </div>
    {%endif%} {% if found == "quiz" %}
    <div class="welcome">
      <h1>Found Quiz</h1>
      <p>Name:{{name}}</p>
      <p>Chapter ID:{{ch_id}}</p>
      <p>Date:{{date}}</p>
      <p>Duration:{{duration}}</p>
      <p>Remarks:{{remark}}</p>
    </div>
    {%endif%} {% if found == "user" %}
    <div class="welcome">
      <h1>Found User</h1>
      <p>Name:{{usrname}}</p>
      <p>Fullname:{{fullname}}</p>
      <p>Qualification:{{quali}}</p>
      <p>DOB:{{dob}}</p>
    </div>
    {%endif%} {%else%}
    <div class="welcome">
      <h1>Nothing Found</h1>
    </div>
    {%endif%}
  </body>
</html>
