<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>add quiz</h1>
    <form method="post">
      chapter id
      <input name="chid" , required />
      date
      <input name="date" , type="date" , required />
      time
      <input name="time" , type="time" , required />
      remark
      <input name="rem" />

      <button>submit</button>
    </form>
  </body>
</html>
