<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Question</title>
    <link rel="stylesheet" href="/static/adminstyle.css" />
  </head>
  <body>
    <div class="welcome" style="padding-bottom: 20px">
      <h1>Add Question</h1>
    </div>
    <div class="fieldbox">
      <form method="post">
        <label> Question: </label>
        <input name="question" required />
        <br />
        <br />
        <label> Option1 </label>
        <input name="o1" required />
        <br />
        <br />
        <label> Option2 </label>
        <input name="o2" required />
        <br />
        <br />
        <label> Option3 </label>
        <input name="o3" required />
        <br />
        <br />
        <label> Option4 </label>
        <input name="o4" required />
        <br />
        <br />
        <label> Answer </label>
        <input name="ans" required />
        <br />
        <br />
        <label> Marks </label>
        <input name="mark" required />
        <br />
        <br />

        <button
          class="fancybutton"
          onmouseover="this.style.backgroundColor='lightblue'; this.style.color='red';"
          onmouseout="this.style.backgroundColor=''; this.style.color='';"
          style="font-style: italic"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
</html>
