<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summary</title>
    <link rel="stylesheet" href="/static/adminstyle.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      .layout {
        padding-top: 10%;
        padding-left: 5%;
        top: 5%;
        left: 1%;
        width: 50%;
        height: 50%;
      }
    </style>
  </head>
  <body style="background-color: antiquewhite">
    <br />
    <div class="header">
      <div>
        <a href="/admin/dash"> Subjects </a>
        |
        <a href="/admin/quiz"> Quiz </a>
        |
        <a href="/" class="logout">Logout</a>
      </div>
      <form method="post" style="padding-left: 800px" action="/admin/search">
        <label>Search:</label>
        <input name="name" />
      </form>
      <div>Welcome Admin</div>
    </div>
    <!-- This is used to make barchart of subjects and there max score using
    chart.js -->
    <div style="display: flex">
      <div class="layout">
        <h2 style="padding-left: 30%">Subject wise top score</h2>
        <canvas id="myChart"></canvas>
      </div>
      <div class="layout" style="width: 30%; height: 30%">
        <h2 style="padding-left: 15%">Subject wise attempts</h2>
        <canvas id="myChart2"></canvas>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById("myChart");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: {{ subs | tojson }},
          datasets: [
            {
              label: "Marks",
              data: {{ vals | tojson }},
              borderWidth: 1,


            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
    <script>
      const ctx2 = document.getElementById("myChart2");
      new Chart(ctx2, {
        type: "pie",
        data: {
          labels: {{ subs | tojson }},
          datasets: [
            {
              label: "attempts",
              data: {{ attempts | tojson }},
              borderWidth: 1,


            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </body>
</html>
