<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Login </title>
    <link rel="stylesheet" href="/static/adminstyle.css" />
  </head>
  <body style="font-style: italic; background-color: rgb(166, 247, 247) ;">
    <div class="welcome">
      <h1>Welcome to Quiz Master</h1>
      <h1 style="color: orange;">LOGIN</h1>
    </div>
    <form method="post">
      <div class="fieldbox">
        <label>Username: </label>
        <input name="username" type="email " required />
        <br />
        <br/>
        <label>Password: </label>
        <input name="password" type="password" required />
        <br />
        <br />
        <br /> 
        <button class="fancybutton" 
        onmouseover="this.style.backgroundColor='lightblue'; this.style.color='red';" 
        onmouseout="this.style.backgroundColor=''; this.style.color='';" style="font-style: italic;"> Login </button> 
        <a href={{url_for('registration')}} style="color:red"> Create new user? </a>
      </div>
    </form>
    <div style="text-align: center; color: red">
      {% if failed %}
      <p> invalid username or password please try again </p>
      {%endif%}
    </div>
  </body>
</html>
