<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scores</title>
    <link rel="stylesheet" href="/static/adminstyle.css" />
  </head>
  <body>
    <div class="header">
      <div>
        <a href="/user/dashboard/{{current_user.id}}"> Home </a>
        |
        <a href="/user/summary/{{current_user.id}}">Summary</a>
        |
        <a href="/" class="logout"> Logout</a>
      </div>
      <form
        method="post"
        action="/user/search/{{current_user.id}}"
        style="padding-left: 40%"
      >
        <label>Search</label>
        <input name="search" />
      </form>
      <div>Welcome {{current_user.uname}}</div>
    </div>

    <div style="align-content: center; padding-top: 10%">
      <div class="subject-card" style="margin: auto; width: 70%">
        <table>
          <tr>
            <td colspan="5"><h2>Quiz Scores</h2></td>
          </tr>
          <tr>
            <th>Quiz ID</th>
            <th>Quiz Name</th>
            <th>Number of Questions</th>
            <th>Date</th>
            <th>Score</th>
          </tr>
          {% for score in scoresdata%}
          <tr>
            <td>{{score.quiz_id}}</td>
            <td>
              {% for quiz in quizs%} {% if quiz.id == score.quiz_id%}
              {{quiz.name}} {%endif%} {%endfor%}
            </td>
            <td>
              {% set question_count = [] %} {% for q in quest%} {% if
              q.quiz_id== score.quiz_id %} {% set _ = question_count.append(1)
              %} {%endif%} {%endfor%} {{question_count|length}}
            </td>
            <td>{{score.time_attempt}}</td>
            <td>{{score.totalscore}}</td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
  </body>
</html>
