<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/adminstyle.css"/>
    <style>
        .hide{
            display: none;
        }
        .center{
          padding-top: 5%;
          text-align: left;
          padding-left:45% ;
        }
    </style>
  </head>
  <body>
    <body>
      <div style="text-align: right;">
        <h1 id="timer"></h1>
      </div>
      {% for question in questions %}
        <div id="{{ loop.index }}" class="hide" >
          <h1>QNo.{{loop.index}}/{{questions | length }} </h1>
          <br/>
          <br/>
          <h1 class="subject-card" style="margin: auto; text-align: center;">{{ question.question }}</h1>
          <div class="center">
            <label><input type="radio" name="question{{loop.index}}" value="{{question.option1}}" >{{question.option1}}</label>
            <br/>
            <br/>
            <label><input type="radio" name="question{{loop.index}}" value="{{question.option2}}" >{{question.option2}}</label>
            <br/>
            <br/>
            <label><input type="radio" name="question{{loop.index}}" value="{{question.option3}}" >{{question.option3}}</label>
            <br/>
            <br/>
            <label><input type="radio" name="question{{loop.index}}" value="{{question.option4}}" >{{question.option4}}</label>
            <br/>
            <br/>
            <br/>
            <button  class="buttoncurve" onclick="nextquestion('{{question.answer}}' , {{loop.index}} , {{question.marks}})" >Save and next </button>
            <button class="buttoncurve" onclick="submit()">Submit</button>
          </div>
        </div>
      {% endfor %}


      <form method="post" id="postmark">
        <input class="hide" id="totalmarks" name="totalmarks" value="">
        <input class="hide" id="maxmarks" name="maxmarks" value="">
      </form>
    <script>
      let totalquestion = {{questions|length}};
      let presentquestion = 1;
      let totalmarks = 0;
      let maxmarks = {{maxi}};
      let totaltime  = {{time}};

      function timer(){
        let clock = document.getElementById("timer");

        let countdown = setInterval(function(){
        let hour = Math.floor(totaltime / 3600);
        let min = Math.floor((totaltime % 3600)/60);
        let second = totaltime%60;
        clock.textContent = `${String(hour).padStart(2,0)}:${String(min).padStart(2,0)}:${String(second).padStart(2,0)}`;
        totaltime--
        if(totaltime<= 0){
          clearInterval(countdown);
          alert("Time out");
          submit();
          return;
        }
        } , 1000);
      }
      

      function updatevisibility(){
        for(let i = 1 ; i <= totalquestion ; i++){
          document.getElementById(i).classList.add("hide");
        }
        document.getElementById(`${presentquestion}`).classList.remove("hide");
      }

      function submit(){
        document.getElementById("totalmarks").value = totalmarks;
        document.getElementById("maxmarks").value = maxmarks;
        document.getElementById("postmark").submit();
      }

      function nextquestion(answer , questionNum , marks){
        let selected_option =  document.querySelector(`input[name="question${questionNum}"]:checked`);
        if(selected_option == null){
          alert("Please select an answer before checking.");
          return;
        }
        if(selected_option.value == answer ){
          totalmarks+= marks;
          if (presentquestion < totalquestion){
            presentquestion ++;
            updatevisibility()
            return;
          }
          else{
            submit();
            return;
          }
        }
        if(presentquestion < totalquestion){
            presentquestion ++;
            updatevisibility()
            return;
        }
        else{ 
          submit();
          return;
          }
        }
      updatevisibility();
      timer();
    </script>
  </body>
  </html>
</html>
