<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/adminstyle.css"/>
    <style>
        .center{
          padding-top: 5%;
          text-align: left;
          padding-left:45% ;
        }
    </style>
    <title>summary</title>
</head>
<body>
    <h1 class='welcome' style='padding-top:5%'> Test Complete </h1>
    <br/> 
    <br/>
    <h1 class='welcome' style='padding-top:5%'> Your Marks : {{mark}} / {{max_mark}} </h1>
    <br/> <br/>
    <div class="center">
    <button class="buttoncurve">
      <a href="/user/dashboard/{{user_id}}"> Home </a>
    </button
    </div>
</body>
</html>